* {
	border: none;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

/* Colors */
header, nav, footer, .cover {
	background-color: rgb(0,125,255);
}

.home, nav, footer p, footer a {
	color: rgb(255,255,255);
	text-decoration: none;
}

/* header */
.header2 {
	color: rgb(255,155,0);
}

body {
    background-color: rgb(255,245,235);
}

/* cover pieces */
.cover {
	color: rgb(0,125,255);
	background-color: rgb(125,215,255);
}

.cover:hover {
	color: rgb(255,155,0);
	background-color: rgb(0,125,255);
}

.piece {
	background-color: rgb(125,215,255);
}

.button {
	color: rgb(0,125,255);
	background-color: rgb(125,215,255);
}

footer a:hover {
	color: rgb(255, 155, 0);
}

/* highlight color */
::selection {
    background-color: rgb(255,155,0);
    color: rgb(255,255,255);
}

::-moz-selection {
    background-color: rgb(255,155,0);
    color: rgb(255,255,255);
}

::-o-selection {
    background-color: rgb(255,155,0);
    color: rgb(255,255,255);
}

::-webkit-selection {
    background-color: rgb(255,155,0);
    color: rgb(255,255,255);
}

/* Fonts */
header, nav, .instructions, .cover, .button, footer {
	font-family: "Lucida Console", Monaco, monospace;
}

/* Effects */
header span, .cover, .button {
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

/* STYLE */

/* Header */
header {
	padding-top: 10px;
	min-height: 20vh;
	max-height: 20vh;

	font-size: 6vh;
	text-align: center;

	box-shadow: 0 0 20px 2px rgba(150,150,150,0.5);
}

.home {
	padding: 10px;

	line-height: 10vh;
}

/* Nav */
nav {
	padding-top: 10px;
	min-height: 9vh;
	max-height: 9vh;

	font-size: 3.5vh;
}

/* Body */
.instructions {
	padding: 10px;
	min-height: 50vh;
	max-height: 50vh;
	min-width: 250px;
	max-width: 25vw;

	position: relative;
	float: left;

	font-size: 2vh;
	color: rgb(0,125,255);
}

.instructions p {
	padding: 0 10px;
}

.hax {
	color: red;
}

.buttons {
	padding: 10px;
	padding-right: 0;

	min-height: 50vh;
	max-height: 50vh;
	min-width: 25vw;
	max-width: 25vw;

	position: relative;
	float: right;
}

.button {
	padding: 10px;
    margin-bottom: 10px;

	min-height: 75px;
	max-height: 75px;
	min-width: 75%;
	max-width: 95%;

	float: right;

	border-radius: 50px 0 0 50px;
	box-shadow: 0 0 20px 2px rgba(150,150,150,0.5);

	font-size: 3vh;
}

/* Game board */
.game {
	min-height: 490px;
	max-height: 50vh;
	min-width: 550px;
	max-width: 75vw;

	position: relative;

	margin-top: 10vh;
	margin-bottom: 10vh;
	margin-left: 25vw; 
	margin-right: 25vw;

	border-radius: 30px;
}

/* Layers */
.bottom, .bottom img, .middle, .top {	
	min-height: 50vh;
	max-height: 50vh;
	min-width: 100%;
	max-width: 100%;

	position: absolute;

	border-radius: 30px;
}

.bottom {
	box-shadow: 0 0 20px 2px rgba(150,150,150,0.5);
}

/* Pieces */
.piece, .cover {
	display: block;
	float: left;

	min-height: 12.5vh;
	max-height: 12.5vh;
	min-width: 25%;
	max-width: 25%;
}

.cover {
	font-size: 9vh; 

	text-align: center;
	line-height: 12.5vh;
}

.cover p {
	/* Make text unclickable */
	pointer-events: none;
}

#piece1, #cover1 {
	border-radius: 30px 0 0 0;
}

#piece4, #cover4 {
	border-radius: 0 30px 0 0;
}

#piece13, #cover13 {
	border-radius: 0 0 0 30px;
}

#piece16, #cover16 {
	border-radius: 0 0 30px 0;
}

/* Footer */
footer {
	padding: 10px;
	min-height: 12vh;
	max-height: 12vh;

	position: static;
	width: 100%;
	bottom: 0px;

	font-size: 2vh;
	text-decoration: none;

	box-shadow: 0 0 20px 2px rgba(150,150,150,0.5);
}

footer p, footer a {
	display: inline;
	text-decoration: none;
}
